USE [master]
GO
/****** Object:  Database [ArchiveTask17]    Script Date: 25.02.2023 4:41:48 ******/
CREATE DATABASE [ArchiveTask17]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArchiveTask17', FILENAME = N'D:\SSMS\Express\MSSQL16.SQLEXPRESS\MSSQL\DATA\ArchiveTask17.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArchiveTask17_log', FILENAME = N'D:\SSMS\Express\MSSQL16.SQLEXPRESS\MSSQL\DATA\ArchiveTask17_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArchiveTask17].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArchiveTask17]
GO
/****** Object:  Table [dbo].[Archive]    Script Date: 25.02.2023 4:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CellСodeId] [int] NOT NULL,
	[FillId] [int] NOT NULL,
 CONSTRAINT [PK_Archive] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CellCode]    Script Date: 25.02.2023 4:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CellCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CellCodeName] [nvarchar](50) NOT NULL,
	[Rack] [nvarchar](50) NOT NULL,
	[Shelf] [nvarchar](50) NOT NULL,
	[Cell] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CellCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25.02.2023 4:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 25.02.2023 4:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentName] [nvarchar](50) NOT NULL,
	[InventoryNumberId] [int] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fill]    Script Date: 25.02.2023 4:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FillType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Fill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryNumber]    Script Date: 25.02.2023 4:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryNumber](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryNumberName] [nvarchar](50) NOT NULL,
	[Theme] [nvarchar](50) NOT NULL,
	[Count] [nvarchar](50) NOT NULL,
	[DateOfReceipt] [nvarchar](50) NOT NULL,
	[CellCodeId] [int] NOT NULL,
 CONSTRAINT [PK_InventoryNumber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssuanceOfADocument]    Script Date: 25.02.2023 4:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuanceOfADocument](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[DocumentId] [int] NOT NULL,
	[DateOfIssue] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_IssuanceOfADocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CellCode] ON 

INSERT [dbo].[CellCode] ([Id], [CellCodeName], [Rack], [Shelf], [Cell]) VALUES (1, N'007392069', N'1 Стеллаж', N'1 Полка', N'1 Ячейка')
INSERT [dbo].[CellCode] ([Id], [CellCodeName], [Rack], [Shelf], [Cell]) VALUES (4, N'307055491', N'2 Стеллаж', N'2 Полка', N'2 Ячейка')
INSERT [dbo].[CellCode] ([Id], [CellCodeName], [Rack], [Shelf], [Cell]) VALUES (5, N'327647492', N'3 Стеллаж', N'3 Полка', N'2 Ячейка')
SET IDENTITY_INSERT [dbo].[CellCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FullName], [PhoneNumber]) VALUES (1, N'Дидиченко Ратибор Романович', N'+7 (993) 847-42-44')
INSERT [dbo].[Customer] ([Id], [FullName], [PhoneNumber]) VALUES (2, N'Даров Федор Тимофеевич', N'+7 (979) 334-58-90')
INSERT [dbo].[Customer] ([Id], [FullName], [PhoneNumber]) VALUES (3, N'Анисимов Мартьян Михайлович', N'+7 (917) 618-69-48')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([Id], [DocumentName], [InventoryNumberId]) VALUES (1, N'Условный документ 1', 1)
INSERT [dbo].[Document] ([Id], [DocumentName], [InventoryNumberId]) VALUES (2, N'Условный документ 2', 2)
INSERT [dbo].[Document] ([Id], [DocumentName], [InventoryNumberId]) VALUES (3, N'Условный документ 3', 3)
SET IDENTITY_INSERT [dbo].[Document] OFF
GO
SET IDENTITY_INSERT [dbo].[Fill] ON 

INSERT [dbo].[Fill] ([Id], [FillType]) VALUES (1, N'Пусто')
INSERT [dbo].[Fill] ([Id], [FillType]) VALUES (2, N'Низкая')
INSERT [dbo].[Fill] ([Id], [FillType]) VALUES (3, N'Средняя')
SET IDENTITY_INSERT [dbo].[Fill] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryNumber] ON 

INSERT [dbo].[InventoryNumber] ([Id], [InventoryNumberName], [Theme], [Count], [DateOfReceipt], [CellCodeId]) VALUES (1, N'№1', N'Продажа', N'1', N'01.01.2023', 1)
INSERT [dbo].[InventoryNumber] ([Id], [InventoryNumberName], [Theme], [Count], [DateOfReceipt], [CellCodeId]) VALUES (2, N'№2', N'Бизнес', N'2', N'02.01.2023', 4)
INSERT [dbo].[InventoryNumber] ([Id], [InventoryNumberName], [Theme], [Count], [DateOfReceipt], [CellCodeId]) VALUES (3, N'№3', N'Связи с общественностью', N'3', N'03.01.2023', 5)
SET IDENTITY_INSERT [dbo].[InventoryNumber] OFF
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_CellCode] FOREIGN KEY([CellСodeId])
REFERENCES [dbo].[CellCode] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_CellCode]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_Fill] FOREIGN KEY([FillId])
REFERENCES [dbo].[Fill] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_Fill]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_InventoryNumber] FOREIGN KEY([InventoryNumberId])
REFERENCES [dbo].[InventoryNumber] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_InventoryNumber]
GO
ALTER TABLE [dbo].[InventoryNumber]  WITH CHECK ADD  CONSTRAINT [FK_InventoryNumber_CellCode] FOREIGN KEY([CellCodeId])
REFERENCES [dbo].[CellCode] ([Id])
GO
ALTER TABLE [dbo].[InventoryNumber] CHECK CONSTRAINT [FK_InventoryNumber_CellCode]
GO
ALTER TABLE [dbo].[IssuanceOfADocument]  WITH CHECK ADD  CONSTRAINT [FK_IssuanceOfADocument_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[IssuanceOfADocument] CHECK CONSTRAINT [FK_IssuanceOfADocument_Customer]
GO
ALTER TABLE [dbo].[IssuanceOfADocument]  WITH CHECK ADD  CONSTRAINT [FK_IssuanceOfADocument_Document] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[IssuanceOfADocument] CHECK CONSTRAINT [FK_IssuanceOfADocument_Document]
GO
USE [master]
GO
